<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iHelper</title>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#"><strong>iHelper</strong></a></li> 
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
      <div class="cta">
        <a href="#" class="button">Sign Up</a>
        <a href="#" class="button">Log In</a>
      </div>
    </header>
    <main>
      <div class="container">
        <h3>Find trusted and affordable local service</h3>
        <section class="filters">
    <div class="locations">
      <h3>select your location</h3>
      <h4>&nbsp;</h4>
      <div class="popover">
      {% for state in states.values()|sort(attribute='name') %}
        <ul >
          <li>
            <h2>{{ state.name }}</h2>
            {% for city in state.places|sort(attribute='name') %}
                <ul >
                <li style="margin-bottom: 10px;"><div class="list_content">{{ city.name }}</div></li>
                </ul>
          {% endfor %}
          </li>
        </ul>
      {% endfor %}
      </div>
    </div>
    <div class="amenities">
      <h3>select service or task</h3>
      <h4>&nbsp;</h4>
      <div class="popover">
        <ul style="list-style-type: none; padding: 0;">
          {% for amenity in amenities.values()|sort(attribute='name') %}
            <li style="display: flex; align-items: center; margin-bottom: 10px;">
              <input type="checkbox" style="margin-right: 10px;" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}" class="list_content">
              <div>{{ amenity.name }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <button type="button">Search</button>
        </section>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 iHelper</p>
    </footer>
  </body>
</html>
